* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: #ffe4e1;
}

header {
  color: palevioletred;
  font-family: fantasy;
  width: 100vw;
  height: 100vh;
  background-image: url(coffeeshop.jpg);
  background-size: cover;
  background-position: center;
}

.logo {
  float: left;
}

nav {
  text-align: right;
  padding-right: 120px;
}

ul {
  margin: auto;
}

li {
  margin-top: 30px;
  list-style: none;
  display: inline-block;
  margin-right: 100px;
  font-size: 20px;
  cursor: pointer;
  border: 2px solid palevioletred;
  border-radius: 10px;
  width: 120px;
  text-align: center;
}

li:hover {
  background: white;
  color: black;
  padding: 10px;
  font-size: 21px;
}

.book_button {
  background-color: white;
  border: 2px solid palevioletred;
  border-radius: 10px;
  padding: 15px 10px;
  width: 130px;
  cursor: pointer;
  position: fixed;
  right: 10px;
  top: 20px;
  text-align: center;
  color: hotpink;
}

.book_button:hover {
  background-color: palevioletred;
  color: white;
}

@keyframes wiggle {
  0% {
    transform: rotate(0deg);
  }
  80% {
    transform: rotate(0deg);
  }
  85% {
    transform: rotate(5deg);
  }
  95% {
    transform: rotate(-5deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

div.wiggle {
  display: inline-block;
  animation: wiggle 2.5s infinite;
}

div.wiggle:hover {
  animation: none;
}

.about_us {
  font-size: 20px;
  line-height: 1.3em;
  width: 100vw;
  height: 100vh;
  background-image: url(beautiful-view-from-cafe-s-window.jpg);
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.about_us p {
  text-align: justify;
  text-wrap: wrap;
  width: 700px;
  backdrop-filter: blur(10px);
}

h2 {
  font-family: fantasy;
  color: palevioletred;
  font-weight: bold;
  border: 2px solid palevioletred;
  border-radius: 10px;
  width: 180px;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  margin-top: -110px;
}

.our_menu {
  width: 100vw;
  height: 100vh;
  background-image: url(abstract-blur-coffee-shop.jpg);
  background-size: cover;
  background-position: center;
  text-align: center;
  border: 5px solid palevioletred;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.our_menu_content {
  font-family: fantasy;
  color: palevioletred;
  font-weight: bold;
  font-size: 30px;
}

table,
th,
td {
  border-bottom: 1px solid palevioletred;
  font-size: 25px;
  background-color: white;
  font-family: Times, sans-serif;
}

.contact_us_text {
  text-align: left;
  font-size: 30px;
}

.contact_us_content {
  display: inline-block;
}

.contact_us {
  width: 100vw;
  height: 100vh;
  background-image: url(abstract-blur-coffee-shop.jpg);
  background-size: cover;
  background-position: center;
}

.icon_img {
  float: left;
  margin-right: 10px;
  margin-top: -2px;
}

.side_form {
  border: 5px solid hotpink;
  border-style: hidden;
}

.message_form {
  width: 550px;
  height: 450px;
}

.message_us {
  margin-right: 35%;
  margin-top: -20px;
  font-size: 30px;
}

.side_form_input {
  margin: 0 0 20px 0;
  font-size: 18px;
  appearance: none;
  border-top: none;
  border-left: none;
  border-right: none;
  background: transparent;
}

.form_button {
  width: 80%;
  font-size: 18px;
  color: white;
  background-color: #ec3d67;
  border: none;
  height: 30px;
}

.maps {
  padding-bottom: 50%;
  position: relative;
}

.maps iframe {
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  position: absolute;
  margin-top: 400px;
}

.maps_text {
  float: left;
  margin-left: 250px;
  font-size: 30px;
}

footer {
  background-color: antiquewhite;
  font-family: Arial;
  font-size: 14px;
  position: absolute;
  width: 100%;
  margin-top: 400px;
}

.footer_form {
  text-align: center;
  margin-bottom: 20px;
}

.register_form {
  font-size: 14px;
}

.footer_logo {
  margin-left: 600px;
}
