* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

header {
  color: palevioletred;
  font-family: fantasy;
  width: 100vw;
  height: 100vh;
  background-image: url(coffeeshop.jpg);
  background-size: cover;
  background-position: center;
}

.logo {
  float: left;
}

nav {
  text-align: right;
  padding-right: 120px;
}

ul {
  margin: auto;
}

li {
  margin-top: 30px;
  list-style: none;
  display: inline-block;
  margin-right: 100px;
  font-size: 20px;
  cursor: pointer;
  border: 2px solid palevioletred;
  border-radius: 10px;
  width: 120px;
  text-align: center;
}

li a {
  text-decoration: none;
  color: palevioletred;
}

li:hover {
  background: white;
  color: black;
  padding: 10px;
  font-size: 21px;
}

.book_button {
  background-color: white;
  border: 2px solid palevioletred;
  border-radius: 10px;
  height: 50px;
  width: 130px;
  cursor: pointer;
  position: fixed;
  right: 10px;
  top: 20px;
  text-align: center;
}

.book_button button {
  border: none;
  background-color: transparent;
  font-family: fantasy;
  color: hotpink;
  font-size: 18px;
  cursor: pointer;
  padding-top: 13px;
}

.book_button:hover {
  background-color: palevioletred;
  color: white;
  cursor: pointer;
}

.book_button button:hover {
  background-color: palevioletred;
  color: white;
  cursor: pointer;
}

@keyframes wiggle {
  0% {
    transform: rotate(0deg);
  }
  80% {
    transform: rotate(0deg);
  }
  85% {
    transform: rotate(5deg);
  }
  95% {
    transform: rotate(-5deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

div.wiggle {
  display: inline-block;
  animation: wiggle 2.5s infinite;
}

div.wiggle:hover {
  animation: none;
}

.about_us {
  font-size: 20px;
  line-height: 1.3em;
  width: 100vw;
  height: 100vh;
  background-image: url(beautiful-view-from-cafe-s-window.jpg);
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.about_us p {
  text-align: justify;
  text-wrap: wrap;
  width: 700px;
  backdrop-filter: blur(10px);
}

.about_us h2 {
  margin-top: -110px;
}

h2 {
  font-family: fantasy;
  color: palevioletred;
  font-weight: bold;
  border: 2px solid palevioletred;
  border-radius: 10px;
  width: 180px;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
}

.our_menu {
  font-size: 20px;
  width: 100vw;
  height: 100vh;
  background-image: url(abstract-blur-coffee-shop.jpg);
  background-size: cover;
  background-position: center;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

table,
th,
td {
  border-bottom: 1px solid palevioletred;
  font-size: 25px;
  background-color: white;
}

.contact_us {
  width: 100vw;
  height: 100%;
  background-image: url(overhead-view-spiral-notepad-laptop-with-coffee-cup-desk.jpg);
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: relative;
  flex-wrap: wrap;
}

.get_in_touch {
  inline-size: 450px;
  overflow-wrap: break-word;
  line-height: 2em;
}

.get_in_touch p {
  font-size: 20px;
}

.relative {
  position: relative;
}

.relative p {
  padding-left: 30px;
}

.get_in_touch img {
  position: absolute;
  padding-top: 5px;
}

.message_form {
  height: 480px;
  width: 550px;
}

.message_form h2 {
  margin-top: 130px;
}

.message_form input {
  margin: 0 0 50px 0;
  font-size: 20px;
  appearance: none;
  border-top: none;
  border-left: none;
  border-right: none;
  background: transparent;
}

.form_button {
  width: 80%;
  font-size: 18px;
  color: white;
  background-color: #ec3d67;
  border: none;
  height: 30px;
  cursor: pointer;
}

.find_us {
  position: absolute;
  left: 110px;
  bottom: 500px;
}

.maps iframe {
  width: 1500px;
  height: 500px;
}

footer {
  background-color: antiquewhite;
  font-family: Arial;
  font-size: 14px;
  width: 100%;
  z-index: 1000;
}

.footer_form {
  text-align: center;
  margin-bottom: 20px;
}

.register_form {
  font-size: 14px;
}

.footer_logo {
  margin-left: 600px;
}

#popupDialog {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  background-image: url(maintenance.jpg);
  background-size: 200px;
  background-position: center;
  border: 2px solid white;
  border-radius: 5px;
  color: white;
  font-size: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}

#overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 999;
}

#popupDialog button {
  border: none;
  height: 30px;
  width: 50px;
  font-family: fantasy;
  font-size: 17px;
}

.top-link {
  font-size: 1.25rem;
  position: fixed;
  bottom: 3rem;
  right: -1rem;
  background: transparent;
  width: 10rem;
  height: 10rem;
  display: flex;
  place-items: center;
  animation: bounce 2s ease-in-out infinite;
  visibility: hidden;
  z-index: -100;
}
.show-link {
  visibility: visible;
  z-index: 100;
}
