* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  padding: 0;
  margin: 0;
  position: relative;
}

/*
=============== 
Header
===============
*/

.header {
  min-width: 100vw;
  height: 100vh;
  /* background-image: image-set(
    url("assets/coffeeshop (2).jpg") 1x,
    url("assets/coffeeshop (1).jpg") 2x
  ); */
  /* background-size: cover;
  background-position: center; */
}

.video-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  z-index: -2;
}

.header_bar {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: -25px;
  color: palevioletred;
  font-family: fantasy;
}

.logo {
  position: absolute;
  left: 10px;
}

@media (max-width: 1200px) {
  .logo img {
    width: 150px;
    height: 150px;
  }
  li {
    font-size: 14px;
    width: 100px;
    margin: 10px;
  }
  .book_button {
    height: 30px;
    width: 100px;
  }
  .book_button button {
    font-size: 14px;
  }
}

nav {
  text-align: center;
}

li {
  font-size: 20px;
  cursor: pointer;
  border: 2px solid palevioletred;
  border-radius: 10px;
  width: 120px;
  margin: 10px 50px;
  margin-top: 70px;
  list-style: none;
  display: inline-block;
}

li a {
  text-decoration: none;
  color: palevioletred;
}

li:hover {
  background: white;
  color: black;
  padding: 10px;
  font-size: 21px;
}

.book_button {
  background-color: white;
  border: 2px solid palevioletred;
  border-radius: 10px;
  height: 50px;
  width: 130px;
  cursor: pointer;
  position: fixed;
  right: 100px;
  top: 100px;
  z-index: 1;
}

.book_button button {
  border: none;
  background-color: transparent;
  font-family: fantasy;
  color: hotpink;
  font-size: 18px;
  cursor: pointer;
  padding-top: 13px;
}

.book_button:hover {
  background-color: palevioletred;
  color: white;
  cursor: pointer;
}

.book_button button:hover {
  background-color: palevioletred;
  color: white;
  cursor: pointer;
}

@keyframes wiggle {
  0% {
    transform: rotate(0deg);
  }
  80% {
    transform: rotate(0deg);
  }
  85% {
    transform: rotate(5deg);
  }
  95% {
    transform: rotate(-5deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

div.wiggle {
  display: inline-block;
  animation: wiggle 2.5s infinite;
}

div.wiggle:hover {
  animation: none;
}

/*
=============== 
About us
===============
*/

.about_us {
  font-size: 20px;
  line-height: 1.3em;
  width: 100vw;
  height: 100vh;
  background-image: image-set(
    url("assets/beautiful-view-from-cafe-s-window (1).jpg") 1x,
    url("assets/beautiful-view-from-cafe-s-window.jpg") 2x
  );
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.about_us p {
  text-align: justify;
  text-wrap: wrap;
  backdrop-filter: blur(10px);
  inline-size: 70%;
}

@media (max-width: 1200px) {
  .about_us p {
    font-size: 14px;
    inline-size: 70%;
  }
}

h2 {
  font-family: fantasy;
  color: palevioletred;
  font-weight: bold;
  border: 2px solid palevioletred;
  border-radius: 10px;
  width: 180px;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
}

/*
=============== 
Menu
===============
*/

.menu {
  /* font-size: 20px; */
  width: 100vw;
  height: 100vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.527), rgba(0, 0, 0, 0.5)),
    image-set(
      url("assets/menu-background(1).jpg") 1x,
      url("assets/menu-background.jpg") 2x
    );
  background-size: cover;
  padding: 5rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  backdrop-filter: unset;
}

.btn-container {
  margin-bottom: 4rem;
  display: flex;
  justify-content: center;
}

.filter-btn {
  appearance: none;
  background-color: palevioletred;
  border: 2px solid palevioletred;
  border-radius: 15px;
  box-sizing: border-box;
  color: #ffffff;
  cursor: pointer;
  display: inline-block;
  font-family: fantasy;
  font-size: 16px;
  letter-spacing: 1px;
  margin-left: 7px;
  /* min-height: 60px; */
  min-width: 0;
  outline: none;
  padding: 16px 24px;
  text-align: center;
  text-decoration: none;
  transition: all 300ms cubic-bezier(0.23, 1, 0.32, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 100%;
  will-change: transform;
}

.filter-btn:disabled {
  pointer-events: none;
}

.filter-btn:hover {
  box-shadow: white 0 8px 15px;
  transform: translateY(-2px);
}

.filter-btn:active {
  box-shadow: none;
  transform: translateY(0);
}

@media (max-width: 1100px) {
  .filter-btn {
    font-size: 12px;
    padding: 6px 10px;
    margin-bottom: -35px;
  }
}

.section-center {
  width: 90vw;
  /* margin: 0 auto; */
  /* max-width: 1170px; */
  display: grid;
  grid-template-columns: 500px 500px;
  justify-content: center;
  gap: 3rem 1rem;
}

@media (max-width: 1100px) {
}

.item-info header {
  display: flex;
  justify-content: space-between;
  border-bottom: 0.5px solid #ec3d67;
  text-transform: capitalize;
}

.item-info {
  /* max-width: 400px; */
  position: absolute;
  justify-self: end;
  line-height: 1;
  color: white;
}

.menu-item {
  display: grid;
  gap: 1rem 3rem;
  /* max-width: 25rem; */
  /* justify-content: center; */
}
.item-info h4 {
  margin-bottom: 0.5rem;
}
.price {
  color: white;
}
.photo {
  width: 200px;
  border: 0.25rem solid white;
  border-radius: 5px;
  position: relative;
}
.item-text {
  inline-size: 280px;
  text-align: left;
}

@media (max-width: 1100px) {
  .section-center {
    grid-template-columns: 450px;
    gap: 2rem;
    margin-left: 90px;
  }
  .photo {
    width: 100px;
  }

  .item-info header {
    font-size: 14px;
    border-bottom: none;
    margin-bottom: -20px;
  }
  .item-info {
    justify-self: center;
  }
  .item-text {
    font-size: 12px;
    inline-size: 200px;
  }
}

/*
=============== 
Contact us
===============
*/
.contact_us {
  width: 100vw;
  height: 100vh;
  background-image: image-set(
    url("assets/overhead-view-spiral-notepad-laptop-with-coffee-cup-desk (2).jpg")
      1x,
    url("assets/overhead-view-spiral-notepad-laptop-with-coffee-cup-desk (1).jpg")
      2x
  );
  background-size: cover;
  background-position: center;
  position: relative;
  display: grid;
  column-gap: 200px;
  grid-template-columns: 300px 300px 500px;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
}

.get_in_touch p {
  font-size: 20px;
  inline-size: 450px;
  text-align: left;
  text-wrap: wrap;
  overflow-wrap: break-word;
  line-height: 1.8rem;
}

.relative {
  position: relative;
}

.relative p {
  padding-left: 30px;
}

.get_in_touch img {
  position: absolute;
  padding-top: 5px;
}

.message_form {
  width: 550px;
}

.message_form input {
  margin: 0 0 45px 0;
  font-size: 20px;
  appearance: none;
  border-top: none;
  border-left: none;
  border-right: none;
  background: transparent;
}

.form_button {
  width: 80%;
  font-size: 18px;
  color: white;
  background-color: #ec3d67;
  border: none;
  height: 30px;
  cursor: pointer;
}

.find_us h2 {
  justify-self: center;
  /* margin-bottom: 300px; */
}
.maps iframe {
  width: 400px;
  height: 250px;
  /* justify-self: center; */
}

@media (max-width: 1130px) {
  .contact_us {
    grid-template-columns: 500px;
  }
}

/*
=============== 
Footer
===============
*/

.footer {
  background-color: antiquewhite;
  font-family: Arial;
  font-size: 14px;
  width: 100%;
  position: absolute;
  bottom: -50px;
  height: 220px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.register_form {
  font-size: 14px;
}

#popupDialog {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  background-image: url(assets/maintenance.jpg);
  background-size: 200px;
  background-position: center;
  border: 2px solid white;
  border-radius: 5px;
  color: white;
  font-size: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}

#overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 999;
}

#popupDialog button {
  border: none;
  height: 30px;
  width: 50px;
  font-family: fantasy;
  font-size: 17px;
}

.top-link {
  /* font-size: 1.25rem; */
  position: fixed;
  bottom: 3rem;
  right: 3rem;
  background: transparent;
  width: 200px;
  height: 200px;
  /* display: flex;
  place-items: center; */
  animation: bounce 2s ease-in-out infinite;
  visibility: hidden;
  z-index: -100;
}
.show-link {
  visibility: visible;
  z-index: 100;
}

@media (max-width: 1200px) {
  .top-link {
    width: 100px;
    height: 100px;
  }
  h2 {
    font-size: 16px;
    width: 130px;
    height: 30px;
  }
  .contact_us p {
    font-size: 14px;
  }
  .message_us input {
    font-size: 12px;
    width: 60%;
  }
  .message_us button {
    font-size: 12px;
    width: 60%;
    height: 30%;
  }
  .footer {
    font-size: 12px;
  }
  .register_form {
    font-size: 12px;
  }
}
